html,
body {
  font-size: 14px;
  min-height: 180px;
  width: 340px;
  padding: 0px;
  margin: 0px;
  font-family: "Baloo 2", monospace;
}

h1 {
  font-size: 35px;
  font-weight: 400;
  color: #2f5876;
  text-align: left;
  margin: 0px 0px 0px 25px;
}

a:link,
a:visited {
  color: #000000;
  outline: 0;
  text-decoration: none;
}

img {
  width: 30px;
}

.modal-header {
  text-align: center;
  border-bottom: 0.5px solid #dadada;
}

.modal-content {
  padding: 0 22px;
}

.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  color: #444;
  font-size: 18px;
}

.flex-container {
  display: flex;
  padding: 10px 22px;
  margin-left: 25px;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 100px;
}

.flex:hover, #settings-icon:hover {
  opacity: 0.4;
}

.flex .fa {
  font-size: 40px;
  color: #2f5876;
}

#toolbox-icon {
  vertical-align: middle;
}

#settings-icon {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  font-size: 18px;
  margin: 5px 0px 0px 5px;
  vertical-align: top;
}

#settings-icon:hover {
  cursor: pointer;
}

#form-container {
  padding: 5px;
}

form textarea {
  border: 1px solid lightgrey;
  margin: 5px;
  border-radius: 5px;
}

form input {
  margin-left: 5px;
}